<%= render "navigation/navigation" %>

<section>
  <h2 class="font-bold text-5xl">Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="input-field">
        <%= f.label :email %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: false,
                    input_html: { autocomplete: "email" }%>
      </div>
      <br/>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p class="block">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      
      <div class="flex">
        <div class="input-field">
          <%= f.label :password %>
          <%= f.input :password,
                      required: false,
                      label: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.hint "leave these blank if you don't want to change it", class: "passwordHint" %>
        </div>
        <div class="input-field">
          <%= f.label :password_confirmation %>
          <%= f.input :password_confirmation,
                      required: false,
                      label: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>
      </div>
      
      <br/>
      <div class="input-field">
        <%= f.label :current_password %>
        <%= f.input :current_password,
                  required: true,
                  label: false,
                  input_html: { autocomplete: "current-password" } %>
        <%= f.hint "we need your current password to confirm your changes", class: "passwordHint" %>
      </div>
    </div>
    <br/>
    <div class="form-actions">
      <%= f.button :submit, "Update", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-700 hover:text-yellow-300"%>
    </div>
  <% end %>
  <%= link_to :back do %>
    <span class="button-style mt-2 rounded-lg py-3 px-5 bg-gray-200 inline-block font-medium hover:text-blue-700 hover:bg-green-100"><i class="inline-block fa-solid fa-arrow-left"></i> Back </span>
  <% end %>
</section>

<section>
  <div class="flex flex-col items-center justify-center mx-auto lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-400 dark:border-gray-300">
      <div class="p-4 space-y-4 md:space-y-6 sm:p-8">
        <div class="text-center">
          <h3 class="font-bold text-2xl">Cancel my account</h3>
          <div>
            Unhappy?
          </div>
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium hover:bg-red-100 deleteColor" %>
        </div>
      </div>
    </div>
  </div>
</section>

