<%= render 'devise/shared/navigation' %>
<section>
  <div class="flex flex-col items-center justify-center mx-auto lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-400 dark:border-gray-300">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <div class="flex w-full justify-between">
          <%= link_to "< Log in instead", new_session_path(resource_name), class:"button-style justify-self-end rounded-lg inline-block py-1 px-5 bg-gray-200 font-medium hover:text-blue-700 hover:bg-gray-300" %>
          <h2 class="justify-self-start text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
            Sign Up
          </h2>
        </div>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="input-field">
              <%= f.label :email %>
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          label: false,
                          input_html: { autocomplete: "email" }%>
            </div>
            <br/>
            <div class="input-field">
              <%= f.label :password %>
              <%= f.input :password,
                          required: true,
                          label: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.hint ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: "passwordHint" %>
            </div>
            <br/>
            <div class="input-field">
              <%= f.label :password_confirmation %>
              <%= f.input :password_confirmation,
                          required: true,
                          label: false,
                          input_html: { autocomplete: "new-password" } %>
            </div>
          </div>
          <br/>
          <div class="form-actions">
            <%= f.button :submit, "Sign up", class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full cursor-pointer" %>
          </div>
        <% end %>
        <br/>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
