<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  th > a {
    color: black;
  }
</style>

<div>
  <%= render "navigation/navigation" %>

  <div class="flex mb-3 justify-between items-center">
    <h1 class="font-bold text-4xl">Users <span class="font-normal text-2xl">(Showing <%= @users.count %> out of <%= User.all.count %>)</span></h1>
  </div>
  
  <%= search_form_for @q do |f| %>
    <%= f.search_field :email_cont, placeholder: "Email" %>
    <%= f.search_field :sign_in_count_eq, placeholder: "Sign-in Count" %>
    <%# <%= f.search_field :email_or_sign_in_count_eq, placeholder: "Email OR Sign-in Count" %>
    <%= f.submit class:"mt-2 rounded-lg py-2 px-3 bg-blue-100 inline-block font-medium hover:bg-blue-300 cursor-pointer" %>
    <%= link_to users_path, class:"button-style p-2 bg-green-100 rounded-lg hover:bg-green-300" do %>
      <i class="fa-solid fa-arrows-rotate"></i>
    <% end %>
  <% end %>
  

  <table class="table-auto my-8">
    <thead>
      <tr>
        <th>
          <%= sort_link(@q, :id) %>
        </th>
        <th>
          <%= sort_link(@q, :email) %>
        </th>
        <th>created_at</th>
        <th>
          <%= sort_link(@q, :sign_in_count, "Sign-in Count", default_order: :desc) %>
        </th>
        <th>
          <%= sort_link(@q, :current_sign_in_at, 'current_sign_in_at'.humanize, default_order: :desc) %>
        </th>
        <th>
          <%= sort_link(@q, :last_sign_in_at, 'last_sign_in_at'.humanize, default_order: :desc) %>
        </th>
        <th>
          <%= sort_link(@q, :current_sign_in_ip, 'current_sign_in_ip'.humanize, default_order: :desc) %>
        </th>
        <th>
          <%= sort_link(@q, :last_sign_in_ip, 'last_sign_in_ip'.humanize, default_order: :desc) %>
        </th>
        <th>
          <%= sort_link(@q, :roles, 'Roles', default_order: :desc) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.created_at %>
          </td>
          <td class="text-center">
            <%= user.sign_in_count %>
          </td>
          <td>
            <%= user.current_sign_in_at %>
          </td>
          <td>
            <%= user.last_sign_in_at %>
          </td>
          <td>
            <%= user.current_sign_in_ip %>
          </td>
          <td>
            <%= user.last_sign_in_ip %>
          </td>
          <td>
            <% user.roles.each do |role| %>
              <%= role.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class='card-columns'>
    <% @users.each do |user| %>
      <%= render 'users/user', user: user %>
    <% end %>
  </div>
</div>
