<div>
  <%= render 'navigation/navigation' %>
  <h1 class="font-bold text-6xl">Website Activities <span class="font-normal text-sm">(<%= @activities.count %> so far.)</span></h1>
  <ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    <% @activities.each do |activity| %>
      <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600">
        <ul>
          <li>id: <%= activity.id %></li>
          <li>trackable_type: <%= activity.trackable_type %></li>
          <li>trackable_id: <%= activity.trackable_id %></li>
          <li><%= link_to activity.trackable, activity.trackable, class:"text-blue-500" %></li>
          <li>key: <%= activity.key %></li>
          <li>parameters: <%= activity.parameters %></li>
          <li>owner: <%= activity.owner %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>