<style>
  .radio-inputs input[type="radio"] {
    margin-left: 20px;
    margin-right: 4px;
  }
</style>
<%# <%= form_with(model: enrollment, url: enrollments_path(course_id: @course&.id || enrollment.course_id), class: "contents") do |form| %>
<%= form_with(model: enrollment, 
              url: action_name == 'new' ? enrollments_path(course_id: @course&.id || enrollment.course_id) : enrollment_path(enrollment), 
              class: "contents", 
              method: action_name == 'new' ? :post : :patch) do |form| %>
  <% if enrollment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
        <% enrollment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if action_name == "new" %>
    <div class="my-5">
      <span>Course to enrol in:</span>
      <span class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 max-w-max">
        <%= @course.title %>
      </span>
    </div>
    <div class="my-5">
      <span>User to enrol:</span>
      <span class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 max-w-max">
        <%= current_user.username %>
      </span>
    </div>
    <div class="inline">
    <%= form_tag enrollments_path(@course) do %>
      <%= submit_tag "Pay #{number_to_currency(@course.price, unit:"₱")}", class:"button-style px-2 py-2 rounded-lg bg-green-200 inline-block font-medium cursor-pointer hover:text-blue-700 hover:bg-green-100"%>
    <% end %>
  </div>
  <% end %>

  <% if action_name == "edit" %>
    <div class="my-5 radio-inputs">
      <%= form.label :rating %> <span class="text-yellow-400"><i class="fa-solid fa-star"></i></span>
      <%= form.collection_radio_buttons :rating, (1..5), :to_s, :to_s, item_wrapper_tag: 'span', item_wrapper_class: 'mr-2'  %>
      <%# <%= form.number_field :rating, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :review %>
      <%= form.text_area :review, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit "Update Review", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-700 hover:text-yellow-300" %>
    </div>
  <% end %>


  
<% end %>
