<%= link_to course, id: dom_id(course), class: "card block min-h-400 max-w-sm p-6 my-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" do %>
  <h5 class="mb-2 text-2xl font-bold tracking-tight bg-gray-700 py-1 px-6 -mx-6 text-gray-900 dark:text-gray-200"><i class="fa-solid fa-book-open"></i> <%= course.title %></h5>
  <span class="font-normal text-gray-800 dark:text-gray-300">
    <%= course.description %>
  </span>
  <div class="mt-4 text-xs font-bold tracking-tight bg-gray-700 py-1 px-6 -mx-6 text-gray-900 dark:text-gray-300">
    <span><i class="fa-regular fa-clock"></i> <%= course.created_at.strftime('%d-%b-%Y') %></span>
    <br/>
    <span><i class="fa-solid fa-chalkboard-user"></i> <%= course.user %></span>
  </div>
<% end %>
