<%= link_to course, id: dom_id(course), class: "card block min-h-400 max-w-sm p-6 mb-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" do %>
  <h5 class="mb-2 text-2xl font-bold tracking-tight bg-gray-700 py-1 px-6 -mx-6 text-gray-900 dark:text-gray-200">
    <i class="fa-solid fa-book-open"></i> <%= course.title %>
  </h5>
  <span class="font-normal text-gray-800 dark:text-gray-300">
    <%= course.short_description %>
  </span>
  <br/>
  <span class="font-normal text-gray-800 dark:text-gray-300">
    <i class="fa-solid fa-book"></i> <%= course.lessons.count%>
  </span>
  <div class="mt-4 flex text-xs font-bold tracking-tight bg-gray-700 py-1 px-6 -mx-6 text-gray-900 dark:text-gray-300">
    <div>
      <span class="block"><i class="fa-regular fa-clock"></i> <span class="ml-2"><%= course.created_at.strftime('%d-%b-%Y') %></span></span>
      <span class="block"><i class="fa-solid fa-chalkboard-user"></i> <span class="ml-1"><%= course.user.username %></span></span>
    </div>
    <div class="ml-3">
      <span class="block"><i class="fa-solid fa-earth-asia"></i> <span class="ml-1"><%= course.language %></span></span>
      <span class="block"><i class="fa-solid fa-tag"></i> <span class="ml-2"><%= number_to_currency(course.price, unit:"₱") %></span></span>
    </div>
  </div>
<% end %>
