<div class="w-full">
  <%= render 'navigation/navigation'%>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Courses <span class="font-normal text-2xl">(<%= @courses.count %>)</span></h1>
    <%= link_to 'New course', new_course_path, class: "rounded-lg my-2 py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div class="card-columns">
    <% @courses.reverse.each do |course| %>
      <%= render 'courses/course', course: course %>
    <% end %>
  </div>
</div>
