<style>
  #price-paragraph > a {
    color: blue;
  }
</style>

<%= render 'navigation/navigation'%>

<div class="courses-show">
  <div>
    <%= link_to "Courses", courses_path, class: "link-style" %>
    /
    <%= link_to @course.title, course_path(@course), class: "link-style" %>
  </div>

  <div class="course-show-buttons">
    <% if policy(@course).edit? %>
      <%= link_to 'Edit course', edit_course_path(@course), class: "button-style mt-2 rounded-lg py-2 px-4 bg-blue-400 inline-block font-medium hover:text-blue-700 hover:bg-blue-200" %>
      <div class="inline-block ml-2">
        <%= button_to 'Delete course', course_path(@course), method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this course?' }, class: "mt-2 rounded-lg py-2 px-4 bg-red-400 font-medium hover:bg-red-200 deleteColor" %> 
      </div>
    <% end %>
    <%= link_to 'Courses List', courses_path, class: "button-style mt-2 rounded-lg py-2 px-4 bg-gray-400 inline-block font-medium hover:text-blue-700 hover:bg-gray-200" %>
  </div>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex"> <%#<div class="mx-auto md:w-2/3 w-full flex"> %>
    <div><%#<div class="mx-auto">%>
      <div class="course-overview px-4 mt-4 shadow rounded-md border border-gray-200 bg-gray-100 outline-none">
        <p class="my-5">
          <strong class="block underline font-medium mb-1">Title:</strong>
          <%= @course.title %>
        </p>

        <p class="mt-5">
          <span class="block text-sm underline mb-1">Description:</span>
          <%= @course.description %>
        </p>

        <p class="my-5">
          <strong class="block underline font-medium mb-1">Created at: </strong><%= @course.created_at%>
          <strong class="block underline font-medium mb-1">Owner: </strong><%=link_to @course.user.username, user_path(@course.user)%>
        </p>

        <p class="my-5">
          <strong class="font-medium underline mb-1">Language</strong>:
          <%= @course.language %>
        </p>

        <p id="price-paragraph" class="my-5">
          <%# <strong class="font-medium underline mb-1">Price</strong>: %>
          <%= enrollment_button(@course) %>
          <%# <%= number_to_currency(@course.price, unit:"₱") %>
        </p>
      </div>
    </div>
    <div class="ml-4">
      <% if @lessons.count == 0 %>
        <div class="mt-4">No lessons here!</div><br/>
      <% end %>

      <% @lessons.each do |lesson| %>
        <%= render 'lessons/lesson', lesson: lesson %>
      <% end %>
      
      <% if current_user == @course.user %>
        <%= link_to 'Add Lesson', new_lesson_path(course_id: @course.id), class: "button-style mt-2 rounded-lg py-1 px-2 bg-green-400 inline-block font-medium hover:text-blue-700 hover:bg-green-200" %>
      <% end %>
    </div>
  </div>
</div>